name: mediatheque

services:
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun:v3
    restart: unless-stopped
    volumes:
      - /srv/services/mediatheque/appdata/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${NORDVPN_WG_PRIVATEKEY}
      - WIREGUARD_ADDRESSES=${NORDVPN_WG_ADDRESS}
      - SERVER_COUNTRIES=France
      - SERVER_CATEGORIES=p2p
      - DNS_ADDRESS=1.1.1.1
      - TZ=Europe/Paris
    networks: [ mediatheque_net, proxy_caddy ]
    labels:
      - "logging=promtail"
      - "service_name=gluetun"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun

  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/linuxserver/qbittorrent:5.1.4
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
    volumes:
      - /srv/services/mediatheque/appdata/qbittorrent:/config
      - /mnt/storage/media:/data
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
      - WEBUI_PORT=8080
    labels:
      - "logging=promtail"
      - "service_name=qbittorrent"
    healthcheck:
      test: [ "CMD", "curl", "-sf", "http://localhost:8080/api/v2/app/version" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    network_mode: "service:gluetun"

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/linuxserver/prowlarr:2.3.0
    restart: unless-stopped
    volumes:
      - /srv/services/mediatheque/appdata/prowlarr:/config
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
    networks: [ mediatheque_net, proxy_caddy ]
    labels:
      - "logging=promtail"
      - "service_name=prowlarr"
    healthcheck:
      test: >
        curl -sf http://localhost:9696/ping | jq -e '.status == "OK"' > /dev/null
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s

  sonarr:
    container_name: sonarr
    image: ghcr.io/linuxserver/sonarr:4.0.16
    restart: unless-stopped
    volumes:
      - /srv/services/mediatheque/appdata/sonarr:/config
      - /mnt/storage/media:/data
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
    networks: [ mediatheque_net, proxy_caddy ]
    labels:
      - "logging=promtail"
      - "service_name=sonarr"
    healthcheck:
      test: >
        curl -sf http://localhost:8989/ping | jq -e '.status == "OK"' > /dev/null
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s

  radarr:
    container_name: radarr
    image: ghcr.io/linuxserver/radarr:6.0.4
    restart: unless-stopped
    volumes:
      - /srv/services/mediatheque/appdata/radarr:/config
      - /mnt/storage/media:/data
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
    networks: [ mediatheque_net, proxy_caddy ]
    labels:
      - "logging=promtail"
      - "service_name=radarr"
    healthcheck:
      test: >
        curl -sf http://localhost:7878/ping | jq -e '.status == "OK"' > /dev/null
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s

  jellyfin:
    container_name: jellyfin
    image: ghcr.io/linuxserver/jellyfin:10.11.6
    restart: unless-stopped
    volumes:
      - /srv/services/mediatheque/appdata/jellyfin:/config
      - /mnt/storage/media:/data
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
    networks: [ mediatheque_net, proxy_caddy ]
    labels:
      - "logging=promtail"
      - "service_name=jellyfin"
    healthcheck:
      test: [ "CMD", "curl", "-sf", "http://localhost:8096/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  mediatheque_net:
    name: mediatheque_net
    driver: bridge
  proxy_caddy:
    external: true
