services:
  adguard:
    container_name: adguard
    image: adguard/adguardhome:v0.107.71
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      # AdGuard expect conf and work dirs, but we keep our dir. structure the same everywhere.
      - ./config:/opt/adguardhome/conf
      - ./data:/opt/adguardhome/work
    networks:
      - proxy_caddy
    labels:
      - "logging=promtail"
      - "service_name=adguard"
    healthcheck:
      test: [ "CMD-SHELL", "nslookup localhost 127.0.0.1 > /dev/null || exit 1" ]
      interval: 45s
      timeout: 10s
      retries: 3
      start_period: 20s
    cap_add:
      - NET_RAW
      - NET_BIND_SERVICE
      - CHOWN
      - SETUID
      - SETGID
      - DAC_OVERRIDE
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 64M
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
      - /var/tmp
      - /var/run

networks:
  proxy_caddy:
    external: true
