(patience) {
	reverse_proxy {args[0]} {
		lb_try_duration 15s
		lb_try_interval 500ms

		transport http {
			dial_timeout 5s
		}
	}
}

vaultwarden.home {
	tls internal

	@websockets {
		path /notifications/hub
	}
	reverse_proxy @websockets vaultwarden:80

	reverse_proxy vaultwarden:80
}

jellyfin.home {
	tls internal
	import patience jellyfin:8096
}

qbit.home {
	tls internal
	reverse_proxy gluetun:8080
}

radarr.home {
	tls internal
	reverse_proxy radarr:7878
}

sonarr.home {
	tls internal
	reverse_proxy sonarr:8989
}

prowlarr.home {
	tls internal
	reverse_proxy prowlarr:9696
}

adguard.home {
	tls internal
	reverse_proxy adguard:3000
}

grafana.home {
	tls internal
	import patience grafana:3000
}

prometheus.home {
	tls internal
	reverse_proxy prometheus:9090
}

promtail.home {
	tls internal
	reverse_proxy promtail:9080
}
